.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    position: sticky; /*always show if scroll*/
    top: 0;
    z-index: 999; /*don't overlap on TOP*/
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;

}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;  /*when click not make outline*/
}

.searchIcon{
    font-size: 20px !important; /**material icon so apply styling need to write important*/
    margin-left: 10px;
}
.topbarLeft{
  flex: 3;
}

.topbarCenter{
  flex: 5;
}

.topbarRight{
   flex: 4;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px; /**for position*/
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 1px;
    
   
}

.topbarImage{
    width: 32px;
    height: 32px;
    border-radius: 50%; /*to make circle of image*/
    object-fit: cover;
    cursor: pointer;
}